@font-face {
    font-family: 'pourTitre';
    src: url("../css/font/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: 'pourMintitre';
        src: url("../css/font/Euclid\ Circular\ A\ Medium.ttf") format("truetype");
        }
    @font-face {
        font-family: 'pourPara';
        src: url("../css/font/Euclid\ Circular\ A\ Light.ttf") format("truetype");
        }
        #l2{
            color: #e24f4f !important;
            border-bottom: 1px solid #e24f4f !important;
        }
        body{
            background-color: white !important;
        }
        /*poour la section header*/
.alert-danger{
    border-radius: 12px;
    font-family: 'pourPara';
    font-size: 15px;
}
.alert-success{
    border-radius: 12px;
    font-family: 'pourPara';
    font-size: 15px;
}
.navbar{
    background-color: #444444;
}
.navbar ul li{
    margin-bottom: 4%;
}
/*pour la section1*/
.section1 .container h3{
    margin-top: 13%;
    font-family: 'pourPara';
    font-size: 23px;
    margin-bottom: 2%;
    color: #646161;
}
.section1 .col-md-7 h1{
    text-transform: capitalize;
    font-family: 'pourPara';
    color: #646161;
    margin-bottom: 3%;
    font-size: 28px;
}
.section1 .col-md-7 img{
    margin-bottom: 12%;
    transition: transform .5s;
}
.section1 .col-md-7 img:hover{
    transform: scale(0.85);
}
.section1 .col-md-3 .card{
    font-family: 'pourPara';
    background-color: #f2f2f2;
    margin-bottom: 8%;
}
.section1 .col-md-3 .card .card-header{
    background-color: #444444;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
}
.section1 .col-md-3 .card .card-body{
    text-transform: uppercase;
}
.section1 .col-md-3 .card .card-body label{
    color: #646161;
    margin-top: 1%;
    margin-bottom: 2%;
}
.section1 .col-md-3 .card .card-body input{
    border-radius: 0px;
}
.section1 .col-md-3 .card .card-body .btn-danger{
    text-transform: uppercase;
    background-color: #e24f4f !important;
    border-color: #e24f4f  !important;
    border-radius: 0px;
}
.section1 .col-md-3 .card .card-body .btn-danger:hover{
    background-color: #bc1c1c !important;
}

/*###################################me style responsive####################################################*/
@media (min-width: 769px) and (max-width: 991px) {
    /*pour la section1*/
.section1 .container h3{
    margin-top: 18%;
    font-family: 'pourPara';
    font-size: 23px;
    margin-bottom: 4%;
    color: #646161;
}
}
@media (min-width: 481px) and (max-width: 768px) {
       /*pour la section1*/
.section1 .container h3{
    margin-top: 24%;
    font-family: 'pourPara';
    font-size: 23px;
    margin-bottom: 6%;
    color: #646161;
}
}
@media (min-width: 321px) and (max-width: 480px) {
         /*pour la section1*/
.section1 .container h3{
    margin-top: 32%;
    font-family: 'pourPara';
    font-size: 20px;
    margin-bottom: 8%;
    color: #646161;
}
.section1 .col-md-3 .card .card-header{
    background-color: #444444;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 17px;
}
.section1 .col-md-7 h1{
    text-transform: capitalize;
    font-family: 'pourPara';
    color: #646161;
    margin-bottom: 3%;
    font-size: 25px;
}
}
@media (max-width: 320px) {
    .section1 .container h3{
        margin-top: 50%;
        font-family: 'pourPara';
        font-size: 20px;
        margin-bottom: 10%;
        color: #646161;
    }
    .section1 .col-md-3 .card .card-header{
        background-color: #444444;
        color: white;
        text-align: center;
        text-transform: capitalize;
        font-size: 17px;
    }
    .section1 .col-md-7 h1{
        text-transform: capitalize;
        font-family: 'pourPara';
        color: #646161;
        margin-bottom: 3%;
        font-size: 22px;
    }
}
@media (max-width: 320px) {
    .section1 .container h3{
        margin-top: 65%;
        font-family: 'pourPara';
        font-size: 20px;
        margin-bottom: 15%;
        color: #646161;
    }
}