@font-face {
    font-family: 'pourTitre';
    src: url("../css/font/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: 'pourMintitre';
        src: url("../css/font/Euclid\ Circular\ A\ Medium.ttf") format("truetype");
        }
    @font-face {
        font-family: 'pourPara';
        src: url("../css/font/Euclid\ Circular\ A\ Light.ttf") format("truetype");
        }
        #l4{
            color: #e24f4f !important;
            border-bottom: 1px solid #e24f4f !important;
        }
        body{
            background-color: white !important;
        }
        /*poour la section header*/

.navbar{
    background-color: #444444;
    width: 100%;
}
.navbar ul li{
    margin-bottom: 2%;
}
/*pour la section1*/
.section1 .container h3{
    margin-top: 13%;
    font-family: 'pourPara';
    font-size: 23px;
    margin-bottom: 4%;
    color: #646161;
}
.section1 .container .form1{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    height: 460px;
}
.section1 .container .form1 h2{
    font-family: 'pourMintitre';
    font-size: 20px;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    color: #646161;
}
.section1 .container .form1 select{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'pourPara';
    font-size: 15px;
    text-transform: capitalize;
    background-color: #DDDDDD !important;
    border-color: #DDDDDD !important;
}
.section1 .container .form1 input{
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: 'pourPara';
    font-size: 15px;
    background-color: #DDDDDD !important;
    border-color: #DDDDDD !important;
}
.section1 .container .form1 label{
    font-family: 'pourPara';
    font-size: 15px;
    color: #646161;
}
.section1 .container .form1 .btn-danger{
    margin-top: 4%;
    margin-bottom: 13%;
    font-family: 'pourPara';
    text-transform: uppercase;
    background-color: #e24f4f !important;
    border-color: #e24f4f  !important;
    height: 40px;
}
.section1 .container .form1:hover{
    box-shadow: 1px 1px 7px #e24f4fa5;
}
/*pour le formulaire2*/
.section1 .container .col-md-8{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    margin-left: 30px;
    margin-bottom: 5%;
    margin-top: 0px;
}
.section1 .container .col-md-8:hover{
    box-shadow: 1px 1px 7px #e24f4fa5;
}
.section1 .container .col-md-8 hr{
    opacity: 0.5;
    color: #646161;
    border: 1px solid;
}
.section1 .container .col-md-8 h2{
    margin-top: 4%;
    font-family: 'pourMintitre';
    font-size: 26px;
    color: #e24f4f;
}
.section1 .container .col-md-8 h4{
    margin-top: 4%;
    margin-bottom: 3%;
    font-family: 'pourPara';
    text-transform: uppercase;
    font-size: 19px;
    color: #525151;
}
.section1 .container .col-md-8 h5{
    font-family: 'pourPara';
    font-size: 18px;
    color: #e24f4f;
}
.section1 .container .col-md-8 ul li{
    font-family: 'pourPara';
    font-size: 16px;
    color: #525151;
    list-style-type: none;
}
.section1 .container .col-md-8 .dowload {
    margin-bottom: 6%;
    font-family: 'pourPara';
    font-size: 18px;
    color: #e24f4f;
}
/*############################################################################################*/
@media (min-width: 769px) and (max-width: 1500px) {
   /*pour la section1*/
.section1 .container h3{
    margin-top: 16%;
    font-family: 'pourPara';
    font-size: 22px;
    margin-bottom: 6%;
    color: #646161;
}
    /*formulaire 1*/
    .section1 .container .form1{
     border: 1px solid #CACACA;
     box-shadow: 1px 1px 7px #6461617c;
     height: 600px !important;
     margin-bottom: 3%;
     }
     .section1 .container .form1 .btn-danger{
         margin-top: 4%;
         margin-bottom: 13%;
         font-family: 'pourPara';
         text-transform: uppercase;
         background-color: #e24f4f !important;
         border-color: #e24f4f  !important;
         height: auto !important;
     }
      /*formulaire 2*/   
 }
 /*************************************************************************************************/
 @media (min-width: 481px) and (max-width: 768px) {
       /*pour la section1*/
.section1 .container h3{
    margin-top: 25% !important;
    font-family: 'pourPara';
    font-size: 22px;
    margin-bottom: 6%;
    color: #646161;
}
/*formulaire1*/
.section1 .container .form1 h2{
    font-family: 'pourMintitre';
    font-size: 20px;
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
    color: #646161;
}
.section1 .container .form1{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    height: 460px;
    margin-bottom: 8% !important;
}
/*formulaire2*/
.section1 .container .col-md-8{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    margin-left: 0px !important;
    margin-bottom: 5%;
    margin-top: 0px;
}
.section1 .container #line{
    margin-left: 10px !important;
    margin-right: 10px !important;
}
}
/*#######################################################################*/
@media (min-width: 321px) and (max-width: 480px) {
         /*pour la section1*/
.section1 .container h3{
    margin-top: 35% !important;
    font-family: 'pourPara';
    font-size: 22px;
    margin-bottom: 8%;
    color: #646161;
}
/*formulaire1*/
.section1 .container .form1 h2{
    font-family: 'pourMintitre';
    font-size: 20px;
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
    color: #646161;
}
.section1 .container .form1{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    height: auto !important;
    margin-bottom: 12% !important;
}
/*formulaire2*/
.section1 .container .col-md-8{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    margin-left: 0px !important;
    margin-bottom: 12% !important;
    margin-top: 0px;
}
.section1 .container #line{
    margin-left: 2px !important;
    margin-right: 2px !important;
}
.section1 .container .col-md-8 h2{
    margin-top: 4%;
    font-family: 'pourMintitre';
    font-size: 20px;
    color: #e24f4f;
}
}
/*##################################################################################*/
@media (max-width: 320px) {
            /*pour la section1*/
.section1 .container h3{
    margin-top: 45% !important;
    font-family: 'pourPara';
    font-size: 22px;
    margin-bottom: 10%;
    color: #646161;
}
/*formulaire1*/
.section1 .container .form1 h2{
    font-family: 'pourMintitre';
    font-size: 20px;
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: center;
    color: #646161;
}
.section1 .container .form1{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    height: auto !important;
    margin-bottom: 12% !important;
}
/*formulaire2*/
.section1 .container .col-md-8{
    border: 1px solid #CACACA;
    box-shadow: 1px 1px 7px #6461617c;
    margin-left: 0px !important;
    margin-bottom: 12% !important;
    margin-top: 0px;
}
.section1 .container .col-md-8 h2{
    margin-top: 4%;
    font-family: 'pourMintitre';
    font-size: 20px;
    color: #e24f4f;
}
.section1 .container #line{
    margin-left: 2px !important;
    margin-right: 2px !important;
}
}
@media (max-width: 230px){
    .section1 .container h3{
        margin-top: 92% !important;
        font-family: 'pourPara';
        font-size: 20px;
        margin-bottom: 12%;
        color: #646161;
        }
}