@font-face {
    font-family: 'pourTitre';
    src: url("../font/Euclid\ Circular\ A\ Bold.ttf") format("truetype");
    }
    @font-face {
        font-family: 'pourMintitre';
        src: url("../font/Euclid\ Circular\ A\ Medium.ttf") format("truetype");
        }
    @font-face {
        font-family: 'pourPara';
        src: url("../font/Euclid\ Circular\ A\ Light.ttf") format("truetype");
        }
.navbar ul li {
    text-transform: uppercase;
    font-size: 14px !important;
    font-family: 'pourPara';
    margin-top: 4%;
}
.navbar ul li a{
    color: white !important;
}
.navbar ul li a:hover{
    color:#e24f4f !important;
    border-bottom: 1px solid #e24f4f;
}
.d-flex{
    border-left: 1px solid white;
    margin-top: -2%;
}
/*###################################me style responsive####################################################*/
@media (min-width: 769px) and (max-width: 991px) {
    .d-flex{
        border-left: 0px !important;
        margin-top: -2%;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    .d-flex{
        border-left: 0px !important;
        margin-top: -2%;
        
    }
}
@media (min-width: 321px) and (max-width: 480px) {
    .d-flex{
        border-left: 0px !important;
        margin-top: -2%;
    }
}
@media (max-width: 320px) {
    .d-flex{
        border-left: 0px !important;
        margin-top: -2%;
    }
}